<div class="card my-3">
  <div class="row g-0">
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">
          #{{ pokemon?.details?.id }} {{ pokemon?.name }}
        </h5>
        <span
          *ngFor="let type of pokemon?.details?.types"
          class="badge rounded-pill p-2 mx-1 pokemon-background-type pokemon-background-type-{{type.type.name}}"
          >{{ type.type.name }}</span
        >
      </div>
    </div>
    <div class="col-4 image-col">
      <app-loader [isLoading]="!pokemon?.details"></app-loader>
      <img
        *ngIf="pokemon?.details"
        [src]="pokemon?.details?.sprites?.front_default"
        class="img-fluid rounded-start"
      />
    </div>
  </div>
</div>
